@page
@model Exercise_RAZOR_Book_.Pages.CreatebookModel
@{
}


<h4>Books</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">


            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Book.Author" class="control-label"></label>
                <input asp-for="Book.Author" class="form-control" />
                <span asp-validation-for="Book.Author" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Book.PublishedDate" class="control-label"></label>
                <input asp-for="Book.PublishedDate" class="form-control" />
                <span asp-validation-for="Book.PublishedDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Book.Description" class="control-label"></label>
                <input asp-for="Book.Description" class="form-control" />
                <span asp-validation-for="Book.Description" class="text-danger"></span>
            </div>



            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Book.Price" class="control-label"></label>
                <input asp-for="Book.Price" class="form-control" />
                <span asp-validation-for="Book.Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Book.Publisher" class="control-label"></label>
                <input asp-for="Book.Publisher" class="form-control" />
                <span asp-validation-for="Book.Publisher" class="text-danger"></span>
            </div>

           
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-page="Index" class="btn btn-secondary">Cancel</a>
            </div>


        </form>
    </div>
</div>
