@page "/Delete/{Id}"
@using BlazorActivity_ServiceRepo.Data.Models
@using BlazorActivity_ServiceRepo.Data.Models.Interfaces
@inject IBookServicecs bookService
@inject NavigationManager navigationManager;

<h3>Delete</h3>

<div>
    <p>Do you want to delete</p>
</div>

<form @onsubmit="DeleteBook">
    <label for="Id" class="control-label">Book Id:@booklist.BookId</label><br />
    <label for="Title" class="control-label">Book Title:@booklist.Title</label><br />
    <label for="Title" class="control-label">Book Author:@booklist.Author</label><br />
    <button class="btn btn-danger" type="submit">Delete</button>
    <br /><br />
</form>


@code {
    [Parameter]
    public string Id{ get; set; }

    private Book booklist = new Book();

    protected override void OnInitialized()
    {
        booklist = bookService.GetBookById(Convert.ToInt32(Id));
    }

    protected void DeleteBook()
    {
        bookService.DeleteBook(booklist.BookId);
        navigationManager.NavigateTo("/");
    }

}
